.form-outline {
    position: relative;
    margin-bottom: 1rem;
}

.form-label {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    transition: 0.2s ease all;
}

.form-outline.active .form-label {
    transform: translateY(-70%);

    font-size: 12px;
}